@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gravity';
  src: url('./assets/fonts/Gravity-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gravity';
  src: url('./assets/fonts/Gravity-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gravity';
  src: url('./assets/fonts/Gravity-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gravity';
  src: url('./assets/fonts/Gravity-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
